<div class="container-fluid">
  <!-- Row -->
  <div class="table-struct full-width full-height">
    <div class="table-cell">
      <div class="auth-form  ml-auto mr-auto no-float">
        <div class="row">
          <div class="col-sm-12 col-xs-12">

            <div class="panel panel-default card-view">

              <div class="panel-wrapper">

                <div class="panel-body">

                  <div class="mb-30">
                    <h3 class="text-center txt-dark mb-10">Create New User</h3>
                    <h6 class="text-center none case-font txt-grey">Please enter user details below</h6>
                  </div>

                  <hr>


                  <div class="form-wrap">

                    <form class="form-horizontal" [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

                      <div  class="form-group">

                        <label for="name" class="col-sm-3 control-label">
                          Full Names
                          <span class="text-danger"> *</span>
                        </label>
                        <div class="col-sm-12">
                          <div>
                            <input type="text" formControlName="name" id="name" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required autofocus/>
                          </div>
                          <div *ngIf="submitted && f.name.errors">
                            <div *ngIf="f.name.errors.required">
                                <span class="help-block">
                                  <strong>Full names is required</strong>
                                </span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div  class="form-group">

                        <label for="email" class="col-sm-3 control-label">
                          Email
                          <span class="text-danger"> *</span>
                        </label>
                        <div class="col-sm-12">
                          <div>
                            <input type="text" formControlName="email" id="email" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required/>
                          </div>
                          <div *ngIf="submitted && f.email.errors">
                            <div *ngIf="f.email.errors.required">
                              <span class="help-block">
                                <strong>Email is required</strong>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div  class="form-group">

                        <label for="username" class="col-sm-3 control-label">
                          Username
                          <span class="text-danger"> *</span>
                        </label>
                        <div class="col-sm-12">
                          <div>
                            <input type="text" formControlName="username" id="username" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required autofocus/>
                          </div>
                          <div *ngIf="submitted && f.username.errors">
                            <div *ngIf="f.username.errors.required">
                              <span class="help-block">
                                <strong>Username is required</strong>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="form-group">

                        <label for="password" class="col-sm-3 control-label">
                          Password
                          <span class="text-danger"> *</span>
                        </label>
                        <div class="col-sm-12">
                          <div>
                            <input type="text" formControlName="password" id="password" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required/>
                          </div>
                          <div *ngIf="submitted && f.password.errors">
                            <div *ngIf="f.password.errors.required">
                              <span class="help-block">
                                <strong>Password is required</strong>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <br/>

                      <div class="form-group">
                        <div class="col-sm-12">
                          <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">Register</button>
                          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                        </div>
                      </div>

                      <br/>


                    </form>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Row -->

</div>
