<!-- Top Menu Items -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="mobile-only-brand pull-left">
    <div class="nav-header pull-left">
      <div class="logo-wrap">
        <a [routerLink]="['/home']">
          <img class="brand-img" src="./assets/images/logo.png" height="30" alt="Nikk Logger"/>
          <span class="brand-text">Nikk Logger</span>
        </a>
      </div>
    </div>
  </div>
  <div class="form-group mb-0 pull-right mobile-only-nav" id="mobile_only_nav">

    <span class="inline-block pr-10" *ngIf="currentUser">
      {{ currentUser.name }}
    </span>

    <!--<div *ngIf="!currentUser">

      <a
        class="inline-block btn btn-info btn-rounded btn-outline"
        [routerLink]="['/login']">
        Login
      </a> &nbsp;
      <a
        class="inline-block btn btn-info btn-rounded btn-outline"
        [routerLink]="['/register']">
        Register
      </a>

    </div>-->

    <ul class="nav navbar-right top-nav pull-right" *ngIf="currentUser">

      <li>
        <a [routerLink]="['/users']"><i class="zmdi zmdi-settings"></i><span>Users</span></a>
      </li>

      <li>
        <a [routerLink]="['/apps']"><i class="zmdi zmdi-settings"></i><span>Apps</span></a>
      </li>

      <li>
        <a [routerLink]="['/logs']"><i class="zmdi zmdi-settings"></i><span>Logs</span></a>
      </li>

      <li class="divider"></li>
      <li>
        <a [routerLink]="['/login']"><i class="zmdi zmdi-power"></i><span>Logout</span></a>
      </li>

    </ul>

  </div>
</nav>
