﻿﻿
  <div class="wrapper theme-1-active pimary-color-red auth-page">

    <app-header></app-header>

    <div class="page-wrapper">

      <alert></alert>
      <router-outlet></router-outlet>

      <app-footer></app-footer>

    </div>

  </div>

