<div class="container-fluid">



  <div class="panel panel-default card-view panel-refresh">

        <div class="panel-wrapper ">

          <div class="panel-heading">
              <h5 class="txt-dark">
                Manage Users
              </h5>
          </div>

          <div class="panel-body row pa-0">

            <div class="table-wrap" style="width: 100%">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                  <tr>
                    <th width="5%">id</th>
                    <th width="25%">Full Names</th>
                    <th width="20%">Username</th>
                    <th width="20%">Email</th>
                    <th width="15%">Created</th>
                    <th width="15%">Actions</th>
                  </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let user of users">
                      <td>
                        <span class="txt-dark">
                          {{user.id}}
                        </span>
                      </td>
                      <td>
                        <span class="txt-dark">
                          {{user.name}}
                        </span>
                      </td>
                      <td>
                        <span class="txt-dark">
                          {{user.username}}
                        </span>
                      </td>
                      <td>
                        <span class="txt-dark">
                          {{user.email}}
                        </span>
                      </td>
                      <td>
                        <span class="txt-dark">
                          {{user.email}}
                        </span>
                      </td>
                      <td>

                        <a href="" class="btn btn-info btn-sm btn-icon-anim btn-square">
                          <i class="zmdi zmdi-eye"></i>
                        </a>

                        <a href="" class="btn btn-primary btn-sm btn-icon-anim btn-square">
                          <i class="zmdi zmdi-edit"></i>
                        </a>

                        <a (click)="deleteUser(user.id)" class="btn btn-danger btn-sm btn-icon-anim btn-square">
                          <i class="zmdi zmdi-delete"></i>
                        </a>

                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <hr>

          <div class="text-center">
            <a [routerLink]="['/users/create']" class="btn btn-lg btn-primary btn-block">Add New User</a>
          </div>

        </div>

      </div>

</div>
