<div class="container-fluid">

  <div class="panel panel-default card-view panel-refresh">

    <div class="panel-wrapper ">

      <div class="panel-heading">
        <h5 class="txt-dark">
          Manage Apps
        </h5>
      </div>

      <div class="panel-body row pa-0">

        <div class="table-wrap" style="width: 100%">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
              <tr>
                <th width="5%">id</th>
                <th width="25%">App Name</th>
                <th width="20%">App Code</th>
                <th width="20%">Log Pattern</th>
                <th width="15%">Created</th>
                <th width="15%">Actions</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let app of apps">
                <td>
                        <span class="txt-dark">
                          {{app.id}}
                        </span>
                </td>
                <td>
                        <span class="txt-dark">
                          {{app.name}}
                        </span>
                </td>
                <td>
                        <span class="txt-dark">
                          {{app.code}}
                        </span>
                </td>
                <td>
                        <span class="txt-dark">
                          {{app.log_pattern}}
                        </span>
                </td>
                <td>
                        <span class="txt-dark">
                          {{app.created_at | date}}
                        </span>
                </td>
                <td>

                  <a href="" class="btn btn-info btn-sm btn-icon-anim btn-square">
                    <i class="zmdi zmdi-eye"></i>
                  </a>

                  <a href="" class="btn btn-primary btn-sm btn-icon-anim btn-square">
                    <i class="zmdi zmdi-edit"></i>
                  </a>

                  <a (click)="deleteUser(app.id)" class="btn btn-danger btn-sm btn-icon-anim btn-square">
                    <i class="zmdi zmdi-delete"></i>
                  </a>

                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>

      <hr>

      <div class="text-center">
        <button class="btn btn-lg btn-primary btn-block">Add New App</button>
      </div>

    </div>

  </div>

</div>
